{{> navbar}} 


{{#each article}}
<h1>{{this.dataValues.title}}</h1>
<h4>{{this.dataValues.author}}</h4>
<p>{{this.dataValues.body}}</p>
<img src="{{this.dataValues.photo}}">
<button value="{{this.dataValues.id}}" class="btn deleteBtn"style="color: gray; background: #ffee58;">Delete</button>
{{/each}} 

{{> footer}}