{{> navbar}}

<div class="container">
    {{#each article}}
    <div class="card-panel">
        <h3>{{this.dataValues.title}}</h3>
        <h4>{{this.dataValues.author}}</h4>
        <p>{{this.dataValues.body}}</p>
        <img id ="pic" src="{{this.dataValues.photo}}">
        <br>
        <br>
        <button value="{{this.dataValues.id}}" class="btn deleteBtn" style="color: gray; background: #ffee58;">Delete</button>
        {{/each}}
    </div>
</div>

{{> footer}}
<br>
<br>