{{> navbar}}

<div class="container">
    {{#each article}}
    <div class="card-panel">
        <h3>{{this.dataValues.title}}</h3>
        <h4>{{this.dataValues.author}}</h4>
        <p>{{this.dataValues.body}}</p>
        <p> More Information on how to Donate:</p>
        <a href="{{this.dataValues.charities}}" target="_blank">{{this.dataValues.charities}}</a>
        <br>
        <br>
        <img id="pic" src="{{this.dataValues.photo}}">
        <br>
        <br>
        <button value="{{this.dataValues.id}}" class="btn deleteBtn" style="color: gray; background: #ffee58;">Delete</button>
    </div>
    {{/each}}
</div>

{{> footer}}
<br>
<br>

